<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все люди</title>
</head>
<body>
<div>
    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Action</th>
        </tr>
        <thead>
        <tbody>

        <tr th:each="user : ${people}">
            <td th:text="${user.getId}"></td>
            <td th:text="${user.getName}"></td>
            <td th:text="${user.getAge}"></td>
            <td><a th:href="@{/people/{id}(id=${user.getId()})}">Show a user</a></td>

        </tr>

        <tbody>
    </table>
</div>

<div>
    </br>
    <a href="/people/new">Create new user</a>
</div>
</body>
</html>