<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>

    <td th:text="${user.getId()}">Value</td>
    <td th:text="${user.getName()}">Value</td>
    <td th:text="${user.getAge()}">Value</td>
    <td th:text="${user.getEmail()}">Value</td>

    </tbody>
</table>
<br/>
<a th:href="@{/people/{id}/edit(id=${user.getId()})}">Edit</a>
<br/>
<form th:method="DELETE" th:action="@{/people/{id}(id=${user.getId()})}">
    <br/>
    <input type="submit" value="Delete"/>
</form>
</body>
</html>